nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}